option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 256M
    max_execution_time: 60
    zlib.output_compression: "Off"
    composer_options: "--no-dev --optimize-autoloader --no-interaction"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
