files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/laravel.conf":
    mode: "000644"
    content: |
      /var/app/current/storage/logs/*.log
      /var/log/php-modules.log
      /var/log/laravel-migrate.log
      /var/log/php-fpm/error.log
      /var/log/php-fpm/www-error.log
  "/opt/elasticbeanstalk/tasks/taillogs.d/laravel.conf":
    mode: "000644"
    content: |
      /var/app/current/storage/logs/*.log
      /var/log/php-modules.log
      /var/log/laravel-migrate.log
      /var/log/php-fpm/error.log
      /var/log/php-fpm/www-error.log
